Repository krudi/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css, npm run lint:files

.lintstagedrc.yml:

"*.{js,ts,jsx,tsx}":
  - npm run lint:js
"*.{css,scss}":
  - npm run lint:css
"*.{html,graphql,yml,yaml}":
  - npm run lint:files

docs: update README for the new stack and workflows
  README.md
Due: none

fix(db): require DATABASE_URL in drizzle config
  drizzle.config.ts
Due: npm run lint:js

refactor(styles): move global stylesheet to src/app/globals.css
  components.json
  src/app/global-error.tsx
  src/app/globals.css
  src/app/layout.tsx
  tsconfig.json
Due: npm run lint:js, npm run lint:css

build: adopt Tailwind v4 browser baseline, trim PostCSS pipeline, mark package private
  .browserslistrc
  package-lock.json
  package.json
  postcss.config.json
Due: none

chore: protect generated shadcn components; correct AGENTS.md
  .oxfmtrc.json
  AGENTS.md
Due: none

fix(seed): default to development and guard local seeding
  package.json
  src/lib/db/seeders/index.ts
Due: npm run lint:js

build(deps): bump next to 16.3.8 and align shared versions
  package-lock.json
  package.json
Due: none

chore(agents): make AGENTS.md the canonical agent entrypoint
  .agents/skills/commit
  .agents/skills/pr
  .agents/skills/retrospective
  .agents/skills/test
  .ai/config.json
  .ai/memory/lessons.md
  .ai/rules/nextjs.md
  .ai/skills/commit/SKILL.md
  .ai/skills/pr/SKILL.md
  .ai/skills/retrospective/SKILL.md
  .ai/skills/test/SKILL.md
  AGENTS.md
Due: none

build(tooling): adopt the shared lint, type and hook setup
  .github/workflows/knip.yaml
  .oxfmtrc.json
  .oxlintrc.json
  .vscode/settings.json
  client.d.ts
  drizzle.config.ts
  knip.json
  lefthook.yml
  src/app/api/hello-world.ts
  src/app/manifest.ts
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/navigation.tsx
  src/features/auth/components/two-factor-form.tsx
  src/features/auth/lib/field-errors.ts
  tsconfig.json
Due: npm run lint:js, npm run lint:files

feat(auth): sign-up with verification, account management and notifications
  .env.example
  README.md
  src/app/(auth)/sign-up/page.tsx
  src/app/(auth)/verify-email/page.tsx
  src/app/account/page.tsx
  src/features/auth/components/change-email-form.tsx
  src/features/auth/components/delete-account-form.tsx
  src/features/auth/components/sign-up-form.tsx
  src/features/auth/components/verify-email-status.tsx
  src/features/auth/index.ts
  src/features/auth/lib/use-resend-verification-email.ts
  src/lib/auth/auth-client.ts
  src/lib/auth/auth.ts
  src/lib/auth/emails/backup-codes-regenerated-email.ts
  src/lib/auth/emails/index.ts
  src/lib/auth/emails/password-changed-email.ts
  src/lib/auth/emails/send.ts
  src/lib/auth/emails/two-factor-disabled-email.ts
  src/lib/auth/emails/two-factor-enabled-email.ts
  src/lib/auth/emails/verification-email.ts
  src/lib/auth/emails/welcome-email.ts
  src/lib/auth/hooks/security-notifications.ts
  src/lib/auth/security.ts
  src/lib/auth/utils/notify.ts
  src/lib/auth/utils/verification-token.ts
  src/lib/db/migrations/0001_nebulous_ink.sql
  src/lib/db/migrations/meta/0001_snapshot.json
  src/lib/db/migrations/meta/_journal.json
  src/lib/db/schemas/auth.ts
  src/lib/db/seeders/seeder-auth-instance.ts
  src/lib/schemas/auth.ts
  src/lib/validation/environment.ts
  src/utils/auth/session.ts
Due: npm run lint:js

feat(security): send security headers and a Content-Security-Policy
  next.config.ts
  src/config/content-security-policy.ts
  src/instrumentation-client.ts
Due: npm run lint:js

ci: read npm from packageManager and fix contribution links
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yaml
  .github/workflows/knip.yaml
  .github/workflows/lint.yaml
  .github/workflows/typecheck.yaml
Due: npm run lint:files

build(deps): oxlint 1.87, oxfmt 0.72, sharp 0.35.5
  package-lock.json
  package.json
Due: none

chore(agents): unify Claude Code permissions
  .claude/settings.json
Due: none

fix(seo): real Open Graph image and env-driven Google verification
  .env.example
  public/images/meta-tags/page-view.png
  src/app/layout.tsx
  src/lib/validation/environment.ts
  src/utils/site/seo.ts
Due: npm run lint:js

fix(auth): validate avatars on sign-up and harden auth helpers
  src/lib/auth/auth.ts
  src/lib/auth/utils/notify.ts
  src/lib/db/seeders/seeder-auth-instance.ts
  src/utils/auth/session.ts
Due: npm run lint:js

build(tooling): exactOptionalPropertyTypes and shadcn CSS
  lefthook.yml
  next-env.d.ts
  src/app/globals.css
  src/components/footer.tsx
  src/components/ui/sonner.tsx
  src/features/auth/components/sessions-list.tsx
  tsconfig.json
Due: npm run lint:js, npm run lint:css, npm run lint:files

docs: single quick start and updated agent notes
  AGENTS.md
  README.md
Due: none

fix(ui): restore the official shadcn sonner component
  src/components/ui/sonner.tsx
  tsconfig.json
Due: npm run lint:js

refactor(security): write the Content-Security-Policy in next.config.ts
  next.config.ts
  src/config/content-security-policy.ts
Due: npm run lint:js

docs: lean README in the shared structure
  AGENTS.md
  README.md
Due: none

build(deps): next 16.4.0 across the Next.js projects
  package-lock.json
  package.json
Due: none

build(deps): bump knip to 6.40
  package-lock.json
  package.json
Due: none

fix(pwa): stop preferring a non-existent native app
  src/app/manifest.ts
Due: npm run lint:js

refactor(seo): use the Next.js metadata API and file conventions
  public/favicons/favicon.ico
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/reset-password/page.tsx
  src/app/(auth)/sign-in/page.tsx
  src/app/(auth)/sign-up/page.tsx
  src/app/(auth)/two-factor/page.tsx
  src/app/(auth)/verify-email/page.tsx
  src/app/(marketing)/layout.tsx
  src/app/(marketing)/page.tsx
  src/app/account/page.tsx
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon.png
  src/app/layout.tsx
  src/app/opengraph-image.alt.txt
  src/app/opengraph-image.png
  src/utils/site/seo.ts
Due: npm run lint:js

feat(pwa): align icons and manifest with the web head standard
  AGENTS.md
  public/favicons/apple-icon-114x114.png
  public/favicons/apple-icon-120x120.png
  public/favicons/apple-icon-144x144.png
  public/favicons/apple-icon-152x152.png
  public/favicons/apple-icon-57x57.png
  public/favicons/apple-icon-60x60.png
  public/favicons/apple-icon-72x72.png
  public/favicons/apple-icon-76x76.png
  public/favicons/favicon-144x144.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-256x256.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-36x36.png
  public/favicons/favicon-48x48.png
  public/favicons/favicon-72x72.png
  public/favicons/favicon-96x96.png
  public/favicons/ms-icon-144x144.png
  public/favicons/ms-icon-150x150.png
  public/favicons/ms-icon-310x310.png
  public/favicons/ms-icon-70x70.png
  public/icon-192x192.png
  public/icon-512x512.png
  public/manifest/desktop-home-screen-view.webp
  public/manifest/mobile-home-screen-view.webp
  src/app/manifest.ts
Due: npm run lint:js

build(deps): bump nodemailer and nanoid patches
  package-lock.json
Due: none

feat(seo): add the twitter:site placeholder
  AGENTS.md
  src/app/layout.tsx
Due: npm run lint:js

build(deps): check for dependency updates weekly
  .github/dependabot.yaml
Due: npm run lint:files
