Repository krudi/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css, npm run lint:files

.lintstagedrc.yml:

"*.{js,ts,jsx,tsx}":
  - npm run lint:js
"*.{css,scss}":
  - npm run lint:css
"*.{html,graphql,yml,yaml}":
  - npm run lint:files

fix(ci): ensure project builds before linting in workflow
  app/manifest.ts
  app/robots.ts
  app/sitemap.ts
Due: npm run lint:js

feat: add .gitattributes file for consistent Git behavior
  .gitattributes
Due: none

chore: add ESLint caching to lint scripts
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .gitignore
  package.json
Due: npm run lint:files

fix(tsconfig): remove redundant baseUrl setting
  tsconfig.json
Due: none

feat(stylelint): extend config with stylelint-order for property sorting
  stylelint.config.mjs
Due: none

chore(next): enable experimental authInterrupts flag in Next.js config
  app/unauthorized.tsx
  next.config.mjs
Due: npm run lint:js

fix(app): remove duplicate error handling page
  app/error.tsx
Due: npm run lint:js

build(deps): manually update all dependencies
  package-lock.json
Due: none

fix(tsconfig): correct include paths and update component imports to use aliases
  app/layout.tsx
  tsconfig.json
Due: npm run lint:js

fix(nextjs): correct tsconfig and module resolution issues
  app/layout.tsx
  client.d.ts
  tsconfig.json
Due: npm run lint:js

ci(cache): add pnpm and Next.js build caching to GitHub Actions
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: npm run lint:files

fix(api): replace app router hello-world route with pages api handler
  app/api/hello-world.ts
Due: npm run lint:js

fix(types): delete stale routes type reference from next-env.d.ts
  next-env.d.ts
Due: npm run lint:js

style: update .prettierignore to include Markdown files
  .prettierignore
Due: none

refactor: unify and modernize ignore rules across workspace
  .gitignore
  .prettierignore
Due: none

fix: correct version field in package.json
  package.json
Due: none

style: update .editorconfig for improved formatting rules
  .editorconfig
Due: none

style: improve .gitignore and .prettierignore formatting for clarity
  .gitignore
  .prettierignore
Due: none

fix(prettier): enhance lint scripts with caching for better performance
  package.json
Due: none

refactor(stylelint): replace local config with @krudi/stylelint-config and clean up rules
  package-lock.json
  stylelint.config.mjs
Due: none

feat(vscode): refine editor settings and extend extension recommendations
  .vscode/extensions.json
  .vscode/settings.json
Due: none

style(markdown): increase max_line_length from 80 to 120
  .editorconfig
Due: none

style(prettier): apply formatting fixes
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yaml
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  app/api/hello-world.ts
  app/global-not-found.tsx
  app/layout.tsx
  app/page.tsx
  prettier.config.mjs
  stylelint.config.mjs
Due: npm run lint:js, npm run lint:files

build(deps): bump @krudi/prettier-config from 0.1.7 to 0.1.8
  package-lock.json
  package.json
Due: none

fix(stylelint): update lint:stylelint script configuration
  package.json
Due: none

refactor: replace inline workflow steps with reusable actions
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: npm run lint:files

docs: refine README note formatting in quick start section
  README.md
Due: none

refactor: reorganize project structure under src
  src/app/api/hello-world.ts
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/manifest.ts
  src/app/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/app/unauthorized.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/navigation.tsx
  src/styles/base/_base.css
  src/styles/base/_reset.css
  src/styles/base/_typography.css
  src/styles/base/index.css
  src/styles/elements/_footer.css
  src/styles/elements/_header.css
  src/styles/elements/_hr.css
  src/styles/elements/_main.css
  src/styles/elements/_navigation.css
  src/styles/elements/index.css
  src/styles/styles.css
  src/styles/utilities/_container.css
  src/styles/utilities/index.css
  src/styles/variables.css
Due: npm run lint:js, npm run lint:css

fix: import routes types for Next.js environment
  next-env.d.ts
Due: npm run lint:js

feat: add .gitkeep files and update tsconfig paths for better module resolution
  src/lib/.gitkeep
  src/types/.gitkeep
  src/utils/.gitkeep
  tsconfig.json
Due: none

fix: replace paragraph with div for better semantic structure
  src/app/global-error.tsx
Due: npm run lint:js

build(deps): bump all packages
  package-lock.json
Due: none

feat: add environment configuration and improve metadata handling
  env-example
  src/app/layout.tsx
Due: npm run lint:js

fix: remove unused variable from Roboto font configuration
  src/app/layout.tsx
Due: npm run lint:js

ci: add environment variable for public site URL in build workflow
  .github/workflows/build.yaml
Due: npm run lint:files

refactor: .gitignore and .prettierignore for improved organization and clarity
  .gitignore
  .prettierignore
Due: none

feat: add clean script to remove cache and node_modules for easier setup
  package.json
Due: none

fix(meta): update social metadata and screenshot assets
  public/images/meta-tags/page-view.png
  public/manifest/desktop-home-screen-view.png
  public/manifest/mobile-home-screen-view.png
  src/app/layout.tsx
  src/app/manifest.ts
Due: npm run lint:js

chore(postcss): replace postcss-nested with postcss-nesting
  package-lock.json
  package.json
  postcss.config.mjs
Due: none

style: exclude svg files from prettier formatting
  .prettierignore
Due: none
