Repository krudi/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint, eslint --ext .js,.ts,.jsx,.tsx ., stylelint **/*.{css,scss}, prettier --check "**", markdownlint

fix: update lint-staged configuration file
  .lintstagedrc.yml
  package.json
Due: none

feat: update required Node.js version
  package.json
Due: none

feat: add auto-merge option for Renovate bot
  renovate.json
Due: none

fix: remove dependabot.yml from workflow
  .github/dependabot.yml
Due: none

fix: install and add configuration files of commitlint
  .commitlintrc.yml
  .husky/commit-msg
  package-lock.json
  package.json
Due: none

fix: not working auto updating of dependencies
  renovate.json
Due: none

fix: remove Cypress tests
  .eslintrc.yml
  .github/workflows/ci.yml
  README.md
  cypress.config.ts
  cypress/component/ExampleTest.cy.tsx
  cypress/cypress.d.ts
  cypress/e2e/VisitProject.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.test.json
Due: next lint, eslint --ext .js,.ts,.jsx,.tsx ., markdownlint

fix: change update time in Renovate config
  renovate.json
Due: none

fix: update schedule in renovate.json file
  renovate.json
Due: none

fix: remove cspell from the workflow
  .cspell.json
  .github/workflows/cspell.yml
Due: none

fix: remove CodeQL workflow
  .github/workflows/codeql.yml
Due: none

feat: update variable empty line rule in Stylelint configuration
  .stylelintrc.yml
Due: none

fix: remove TailwindCSS package
  .postcssrc.ts
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint --ext .js,.ts,.jsx,.tsx .

feat: replace TailwindCSS classes with standard CSS
  app/error.tsx
  app/layout.tsx
  app/not-found.tsx
  app/page.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Navigation.tsx
  styles/base/_base.scss
  styles/base/_reset.scss
  styles/base/_typography.scss
  styles/base/index.scss
  styles/elements/_footer.scss
  styles/elements/_header.scss
  styles/elements/_hr.scss
  styles/elements/_main.scss
  styles/elements/_navigation.scss
  styles/elements/index.scss
  styles/styles.scss
  styles/utilities/_container.scss
  styles/utilities/index.scss
  styles/variables.scss
Due: next lint, eslint --ext .js,.ts,.jsx,.tsx ., stylelint **/*.{css,scss}

feat: add Dependabot to auto update dependencies
  .github/dependabot.yml
  renovate.json
Due: none

feat: update GitHub workflow and add cache for node_modules dependencies
  .github/workflows/build-node.yml
  .github/workflows/ci.yml
  .github/workflows/test-jest.yml
Due: none

build: update dependencies from the package.json
  package-lock.json
Due: none

fix: skip jobs workflow for dependabot branch
  .github/workflows/build-node.yml
  .github/workflows/test-jest.yml
Due: none

perf: update packages to the newest version
  package-lock.json
  package.json
Due: none

fix: remove depricated experimental appDir option
  next.config.js
Due: eslint --ext .js,.ts,.jsx,.tsx .

perf: remove markdownlint package from the project
  .lintstagedrc.yml
  .markdownlint.yml
  .markdownlintignore
  README.md
  package-lock.json
  package.json
Due: markdownlint

perf: remove not needed stylelint configuration
  .stylelintrc.yml
  package-lock.json
  package.json
Due: none

docs: improve documentation and typography
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Due: markdownlint

feat: add recommended extensions for code-editor settings
  .vscode/extensions.json
Due: none

fix: remove Jest packages from the project
  .eslintignore
  .eslintrc.yml
  .github/workflows/test-jest.yml
  .gitignore
  .stylelintignore
  README.md
  jest.config.ts
  package-lock.json
  package.json
  tests/integration/.gitkeep
  tests/unit/sumFunction.test.ts
  tsconfig.test.json
  utils/sumFunction.ts
Due: eslint --ext .js,.ts,.jsx,.tsx ., markdownlint

feat: add grouped pull requests for dependabot
  .github/dependabot.yml
Due: none

feat: update Node.js in GitHub workflow to version v20
  .github/workflows/build-node.yml
Due: none

feat: update Node.js configuration
  .npmrc
  .nvmrc
  package.json
Due: none

build: update GitHub actions/cache workflow to latest version
  .github/workflows/build-node.yml
Due: none

build: update Node.js packages
  package-lock.json
Due: none

fix: move viewport from metadata to viewport object
  app/layout.tsx
Due: next lint, eslint --ext .js,.ts,.jsx,.tsx .

fix: remove duplicated ESLint command and enable turbo for development
  .lintstagedrc.yml
  README.md
  next.config.js
  package.json
Due: eslint --ext .js,.ts,.jsx,.tsx ., markdownlint

fix: remove .vue file extension from linting
  .lintstagedrc.yml
Due: none

fix: remove .vue file extension from linting
  package.json
Due: none

feat: add information about turbo command
  README.md
  package.json
Due: markdownlint

fix: update env variable in the build workflow
  .github/workflows/build-node.yml
Due: none

build: remove pre-commit lint checks
  .commitlintrc.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

build: remove pre-commit lint checks
  .commitlintrc.yml
  .github/dependabot.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

perf: use CSS syntax instead of SCSS
  .github/dependabot.yml
  .postcssrc.ts
  .postcssrc.yml
  .stylelintrc.yml
  README.md
  app/layout.tsx
  package-lock.json
  package.json
  styles/base/_base.css
  styles/base/_reset.css
  styles/base/_typography.css
  styles/base/_typography.scss
  styles/base/index.css
  styles/base/index.scss
  styles/elements/_footer.css
  styles/elements/_header.css
  styles/elements/_header.scss
  styles/elements/_hr.css
  styles/elements/_hr.scss
  styles/elements/_main.css
  styles/elements/_main.scss
  styles/elements/_navigation.css
  styles/elements/index.css
  styles/elements/index.scss
  styles/styles.css
  styles/styles.scss
  styles/utilities/_container.css
  styles/utilities/_container.scss
  styles/utilities/index.css
  styles/utilities/index.scss
  styles/variables.css
  styles/variables.scss
Due: next lint, eslint --ext .js,.ts,.jsx,.tsx ., stylelint **/*.{css,scss}, markdownlint

Path conditions:
  next lint: any of: *.{jsx,tsx}
  eslint --ext .js,.ts,.jsx,.tsx .: any of: *.{js,ts,jsx,tsx}
  stylelint **/*.{css,scss}: any of: *.scss
  prettier --check "**": any of: **/{html,graphql,yml,yaml,vue}
  markdownlint: any of: **/*.md
