Repository krudi/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css, npm run lint:files

.lintstagedrc.yml:

"*.{js,ts,jsx,tsx}":
  - npm run lint:js
"*.{css,scss}":
  - npm run lint:css
"*.{html,graphql,yml,yaml}":
  - npm run lint:files

fix: update stylelint configuration to resolve common lint issues
  .stylelintrc.yml
  package.json
Due: npm run lint:files

feat: update formatting in .editorconfig file
  .editorconfig
Due: none

feat: add postcss-custom-media for PostCSS
  .postcssrc.yml
  package-lock.json
  package.json
  public/manifest.webmanifest
Due: npm run lint:files

fix: remove unused dependabot package auto-update
  .github/dependabot.yml
Due: npm run lint:files

feat: add more information for the web-manifest
  public/favicons/nextjs-512x512.png
  public/favicons/nextjs-512x512.svg
  public/manifest/desktop-home-screen-view.webp
  public/manifest/mobile-home-screen-view.webp
Due: none

feat: update code linters
  .prettierrc.yml
  .stylelintrc.yml
Due: npm run lint:files

fix: improve information README about packages
  README.md
Due: none

feat: update packages
  package-lock.json
  package.json
Due: none

fix: change version of GitHub actions
  .github/workflows/build-node.yml
Due: npm run lint:files

fix: reorganize devDependencies in package.json
  package-lock.json
  package.json
Due: none

feat: add manifest configuration file
  app/layout.tsx
  app/manifest.ts
  package-lock.json
  public/manifest.webmanifest
Due: npm run lint:js

refactor: update Next.js configuration and PostCSS settings
  .postcssrc.yml
  next.config.js
  next.config.mjs
  postcss.config.mjs
Due: npm run lint:js, npm run lint:files

feat: add precheck stage for code linting
  .github/workflows/precheck-code-lint.yml
Due: npm run lint:files

feat: reorganize issue templates for better clarity and usability
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
Due: npm run lint:files

fix: rename build workflow file
  .github/workflows/build-frontend.yml
Due: npm run lint:files

refactor: move documentation files to the project root
  CONTRIBUTING.md
  SECURITY.md
Due: none

fix: adjust dependabot and refactor ci job filename
  .github/dependabot.yml
  .github/workflows/prepare-code-lint.yml
Due: npm run lint:files

fix: remove unnecessary additional information
  package.json
Due: none

fix: update tsconfig path configuration
  tsconfig.json
Due: none

fix: update seo meta-tags
  app/layout.tsx
Due: npm run lint:js

fix: reorganize Stylelint configuration
  .stylelintignore
  .stylelintrc.yml
  stylelint.config.mjs
Due: npm run lint:files

fix: reorganize Prettier configuration
  .prettierrc.yml
  prettier.config.mjs
Due: npm run lint:files

feat: migrate ESLint configuration to flat config format
  .eslintignore
  .eslintrc.yml
  eslint.config.mjs
Due: npm run lint:files

chore(deps): upgrade all npm packages to latest versions
  package-lock.json
  package.json
Due: none

refactor: reformat and update export syntax in configuration
  package.json
  prettier.config.mjs
  stylelint.config.mjs
Due: none

refactor: enhance ESLint rules and settings
  eslint.config.mjs
Due: none

feat: add new ESLint plugins to extend linting capabilitie
  package-lock.json
  package.json
Due: none

style: apply ESLint fixes across the codebase
  app/layout.tsx
Due: npm run lint:js

fix: update Stylelint config to ignore specific files
  stylelint.config.mjs
Due: none

chore: add caret (^) to dependency versions for automatic updates
  package.json
Due: none

feat: update npm scripts for code linting and formatting
  .prettierignore
  package.json
Due: none

docs: adjust contributing guidelines and link reference
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: npm run lint:files

style(prettier): run Prettier to clean up code formatting
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/build-frontend.yml
  .github/workflows/prepare-code-lint.yml
  .vscode/extensions.json
  .vscode/settings.json
  app/error.tsx
  app/global-error.tsx
  app/layout.tsx
  app/loading.tsx
  app/manifest.ts
  app/not-found.tsx
  app/page.tsx
  app/robots.ts
  app/sitemap.ts
  components/ExampleTest.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Navigation.tsx
  pages/api/index.ts
  styles/base/_base.css
  styles/base/_reset.css
  styles/base/_typography.css
  styles/base/index.css
  styles/elements/_footer.css
  styles/elements/_header.css
  styles/elements/_hr.css
  styles/elements/_main.css
  styles/elements/_navigation.css
  styles/elements/index.css
  styles/styles.css
  styles/utilities/_container.css
  styles/utilities/index.css
  styles/variables.css
  tsconfig.json
  types/Layouts.d.ts
  types/index.d.ts
Due: npm run lint:js, npm run lint:css, npm run lint:files

feat: add more dynamic host url handling
  .env-example
  .github/workflows/build-frontend.yml
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
Due: npm run lint:js, npm run lint:files

fix: modify Stylelint config for better docs comment experience
  stylelint.config.mjs
Due: none

feat: add new global-error custom page
  app/global-error.tsx
Due: npm run lint:js

refactor: remove postcss-custom-media from dependencies
  package-lock.json
  package.json
  postcss.config.mjs
Due: none

fix: modify Prettier config to fix whitespace issues
  prettier.config.mjs
Due: none

feat: declare Layout types in seperated file
  tsconfig.json
  types/Layouts.d.ts
  types/index.d.ts
Due: npm run lint:js
