Repository krudi/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css, npm run lint:files

chore(tsconfig): update path aliases and include patterns
  tsconfig.json
Due: none

chore: update Node.js requirement to 24.14.0
  .nvmrc
  package-lock.json
  package.json
Due: none

chore(vscode): update TypeScript SDK setting keys
  .vscode/settings.json
Due: none

feat(seo): add shared SEO helper utilities
  src/app/(marketing)/layout.tsx
  src/app/(marketing)/page.tsx
  src/app/layout.tsx
  src/utils/.gitkeep
  src/utils/seo.ts
Due: npm run lint:js

refactor: refresh robots metadata and site URL config
  src/app/robots.ts
  src/app/sitemap.ts
  src/utils/site-url.ts
Due: npm run lint:js

chore: standardize @types/node to a valid 24.x range
  package-lock.json
  package.json
Due: none

refactor(ci): simplify GitHub workflows
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: npm run lint:files

docs: update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: none

chore: migrate Next/ESLint/Prettier/Stylelint configs to TypeScript
  eslint.config.ts
  next.config.ts
  prettier.config.mjs
  prettier.config.ts
  stylelint.config.ts
Due: npm run lint:js

style: fix import ordering and CSS import notation
  src/app/(marketing)/page.tsx
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/styles/base/index.css
  src/styles/elements/index.css
  src/styles/styles.css
  src/styles/utilities/index.css
  src/utils/seo.ts
Due: npm run lint:js, npm run lint:css

build: switch PostCSS config to postcss.config.json and refresh dependencies
  package-lock.json
  package.json
  postcss.config.json
  postcss.config.mjs
Due: none

docs(ai): add CLAUDE.md, slash commands, and enrich AGENTS.md
  .ai/config.json
  .ai/memory/lessons.md
  .ai/rules/nextjs.md
  .ai/skills/commit/SKILL.md
  .ai/skills/pr/SKILL.md
  .ai/skills/retrospective/SKILL.md
  .claude/commands/commit.md
  .claude/commands/pr.md
  .claude/commands/retrospective.md
  .claude/commands/test.md
  AGENTS.md
  CLAUDE.md
Due: none

docs: convert CLAUDE.md to symlink and add .claude/skills
  .claude/skills
  AGENTS.md
  CLAUDE.md
Due: none

docs(agents): unify AI scaffolding and vendor skills
  .agents/skills/.gitkeep
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .ai/config.json
  .ai/rules/nextjs.md
  .ai/skills/test/SKILL.md
  .claude/commands/commit.md
  .claude/commands/pr.md
  .claude/commands/retrospective.md
  .claude/commands/test.md
  .claude/settings.json
  .claude/skills
  .claude/skills/.gitkeep
  .claude/skills/commit
  .claude/skills/frontend-design
  .claude/skills/pr
  .claude/skills/retrospective
  .claude/skills/test
  .codex/config.toml
  AGENTS.md
  CLAUDE.md
  skills-lock.json
Due: none

chore(node): pin Node 24.19.0 and npm 12
  .node-version
  .npmrc
Due: none

chore(tooling): normalize ignore files and editor config
  .editorconfig
  .gitignore
Due: none

ci: normalize workflows, add typecheck, pin actions
  .github/actions/setup-node-workspace/action.yaml
  .github/dependabot.yaml
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: npm run lint:files

build(deps): update dependencies and adopt oxlint + oxfmt
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  eslint.config.ts
  package-lock.json
  package.json
  prettier.config.ts
  stylelint.config.ts
Due: npm run lint:js

style: apply oxfmt formatting
  next-env.d.ts
  src/app/(marketing)/layout.tsx
  src/app/layout.tsx
Due: npm run lint:js

chore(vscode): standardize tasks, settings, and extensions
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

chore: rename env-example to .env.example
  README.md
Due: none

feat(config): validate environment variables at startup
  package-lock.json
  package.json
  src/config/client-env.ts
  src/config/server-env.ts
  src/lib/validation/environment.ts
  src/utils/site-url.ts
  tsconfig.json
Due: npm run lint:js

chore(vscode): modernize workspace tooling
  .vscode/extensions.json
  .vscode/settings.json
Due: none

ci: inline Node setup and separate typechecking
  .github/actions/setup-node-workspace/action.yaml
  .github/workflows/build.yaml
  .github/workflows/typecheck.yaml
  README.md
  package-lock.json
  package.json
Due: npm run lint:files

chore: enable type-aware oxlint
  .oxlintrc.json
  package-lock.json
  package.json
Due: none

feat: add Next.js type generation to typecheck workflow
  .github/workflows/typecheck.yaml
  package.json
Due: npm run lint:files

chore: add shadcn/ui, Better Auth and Drizzle dependencies
  package-lock.json
  package.json
Due: none

refactor: remove shared TypeScript config, localize tsconfig
  .ai/config.json
  .ai/rules/nextjs.md
  AGENTS.md
  tsconfig.json
Due: none

feat(config): add Tailwind CSS v4 and shadcn/ui build config
  components.json
  postcss.config.json
Due: none

feat(ui): add shadcn/ui component foundation on Base UI
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/field.tsx
  src/components/ui/input-otp.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/password-input.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/sonner.tsx
  src/lib/utils.ts
  src/styles/base/_base.css
  src/styles/base/_reset.css
  src/styles/base/_typography.css
  src/styles/base/index.css
  src/styles/elements/_footer.css
  src/styles/elements/_header.css
  src/styles/elements/_hr.css
  src/styles/elements/_main.css
  src/styles/elements/_navigation.css
  src/styles/elements/index.css
  src/styles/shadcn-foundation.css
  src/styles/styles.css
  src/styles/utilities/_container.css
  src/styles/utilities/index.css
  src/styles/variables.css
Due: npm run lint:js, npm run lint:css

feat(config): validate environment variables for database and auth
  .env.example
  .github/workflows/build.yaml
  src/config/client-env.ts
  src/config/server-env.ts
  src/config/uploads.ts
  src/lib/validation/environment.ts
Due: npm run lint:js, npm run lint:files

feat(db): add Drizzle ORM client, schema and migrations
  compose.yaml
  drizzle.config.ts
  src/lib/db/client.ts
  src/lib/db/index.ts
  src/lib/db/migrations/0000_bouncy_silver_surfer.sql
  src/lib/db/migrations/meta/0000_snapshot.json
  src/lib/db/migrations/meta/_journal.json
  src/lib/db/schemas/auth.ts
  src/lib/db/schemas/index.ts
Due: npm run lint:js, npm run lint:files

feat(auth): add Better Auth with email/password and two-factor sign-in
  src/app/api/auth/[...all]/route.ts
  src/lib/auth/auth-client.ts
  src/lib/auth/auth.ts
  src/lib/auth/emails/email-layout.ts
  src/lib/auth/emails/index.ts
  src/lib/auth/emails/password-reset-email.ts
  src/lib/auth/emails/send.ts
  src/lib/auth/emails/types.ts
  src/lib/auth/utils/avatar.ts
  src/lib/db/seeders/index.ts
  src/lib/db/seeders/is-already-exists-error.ts
  src/lib/db/seeders/seeder-auth-instance.ts
  src/lib/db/seeders/user.ts
  src/lib/schemas/auth.ts
  src/utils/auth/session.ts
Due: npm run lint:js

feat(auth): add sign-in, password reset and two-factor pages
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/reset-password/page.tsx
  src/app/(auth)/sign-in/page.tsx
  src/app/(auth)/two-factor/page.tsx
  src/app/account/page.tsx
  src/features/auth/components/auth-card.tsx
  src/features/auth/components/change-password-form.tsx
  src/features/auth/components/forgot-password-form.tsx
  src/features/auth/components/reset-password-form.tsx
  src/features/auth/components/sessions-list.tsx
  src/features/auth/components/sign-in-form.tsx
  src/features/auth/components/two-factor-form.tsx
  src/features/auth/components/two-factor-settings.tsx
  src/features/auth/components/update-profile-form.tsx
  src/features/auth/components/user-bar.tsx
  src/features/auth/index.ts
  src/features/auth/lib/field-errors.ts
  src/features/auth/lib/use-image-preview.ts
  src/features/auth/lib/use-sign-out.ts
Due: npm run lint:js

feat: add dark mode with next-themes
  src/components/theme-provider.tsx
  src/components/theme-toggle.tsx
Due: npm run lint:js

feat: rebuild header, navigation and footer with dark mode support
  next.config.ts
  src/app/(marketing)/layout.tsx
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/not-found.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/footer.tsx
  src/components/header.tsx
  src/components/navigation.tsx
  src/utils/site/seo.ts
  src/utils/site/site-url.ts
Due: npm run lint:js

feat: rebuild homepage with real starter content
  src/app/(marketing)/page.tsx
Due: npm run lint:js

feat(auth): protect /account routes with middleware
  src/proxy.ts
Due: npm run lint:js

chore: exclude generated Drizzle/Better Auth files from lint and format
  .oxfmtrc.json
  .oxlintrc.json
Due: none

Path conditions:
  npm run lint:js: any of: *.{js,ts,jsx,tsx}
  npm run lint:css: any of: *.{css,scss}
  npm run lint:files: any of: *.{html,graphql,yml,yaml}
