Repository krudi/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css, npm run lint:files

feat: declare Layout types in seperated file
  tsconfig.json
  types/Layouts.d.ts
  types/index.d.ts
Due: npm run lint:js

feat: add more dynamic host url handling
  .env-example
  .github/workflows/build-frontend.yml
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
Due: npm run lint:js, npm run lint:files

feat: add new global-error custom page
  app/global-error.tsx
Due: npm run lint:js

style(prettier): run Prettier to clean up code formatting
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/build-frontend.yml
  .github/workflows/prepare-code-lint.yml
  .vscode/extensions.json
  .vscode/settings.json
  app/error.tsx
  app/global-error.tsx
  app/layout.tsx
  app/loading.tsx
  app/manifest.ts
  app/not-found.tsx
  app/page.tsx
  app/robots.ts
  app/sitemap.ts
  components/ExampleTest.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Navigation.tsx
  pages/api/index.ts
  styles/base/_base.css
  styles/base/_reset.css
  styles/base/_typography.css
  styles/base/index.css
  styles/elements/_footer.css
  styles/elements/_header.css
  styles/elements/_hr.css
  styles/elements/_main.css
  styles/elements/_navigation.css
  styles/elements/index.css
  styles/styles.css
  styles/utilities/_container.css
  styles/utilities/index.css
  styles/variables.css
  tsconfig.json
  types/Layouts.d.ts
  types/index.d.ts
Due: npm run lint:js, npm run lint:css, npm run lint:files

build(deps): update required and dev dependencies
  package-lock.json
  package.json
Due: none

fix: add new pwa icons configuration
  app/manifest.ts
Due: npm run lint:js

feat: update file type path for Layouts
  types/index.d.ts
Due: npm run lint:js

fix: upgrade deprecated Next.js functions
  app/layout.tsx
  app/manifest.ts
  app/robots.ts
  app/sitemap.ts
  eslint.config.mjs
  next-env.d.ts
  next.config.mjs
  next.config.ts
Due: npm run lint:js

feat: add dependabot group configuration
  .github/dependabot.yml
Due: npm run lint:files

fix: remove not used labels from PR of dependabot
  .github/dependabot.yml
Due: npm run lint:files

fix(linting): update Prettier linting issues in yaml file
  .github/dependabot.yml
Due: npm run lint:files

fix: remove not needed ESlint types package
  package-lock.json
  package.json
Due: none

chore(node): update Node.js to latest LTS version
  .github/workflows/build-frontend.yml
  .github/workflows/prepare-code-lint.yml
  package.json
Due: npm run lint:files

chore: update copyright year in MIT License to 2025
  LICENSE
Due: none

fix: reorder and adjust rule definitions for Stylelint
  stylelint.config.mjs
Due: none

chore(deps): adjust Dependabot config and align package.json dependencies
  .github/dependabot.yml
  package.json
Due: npm run lint:files

feat(favicons): add multiple favicon sizes and update manifest theme color
  app/layout.tsx
  app/manifest.ts
  public/favicons/android-icon-192x192.png
  public/favicons/apple-icon-114x114.png
  public/favicons/apple-icon-120x120.png
  public/favicons/apple-icon-144x144.png
  public/favicons/apple-icon-152x152.png
  public/favicons/apple-icon-180x180.png
  public/favicons/apple-icon-57x57.png
  public/favicons/apple-icon-60x60.png
  public/favicons/apple-icon-72x72.png
  public/favicons/apple-icon-76x76.png
  public/favicons/favicon-144x144.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-256x256.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-36x36.png
  public/favicons/favicon-48x48.png
  public/favicons/favicon-512x512.png
  public/favicons/favicon-72x72.png
  public/favicons/favicon-96x96.png
  public/favicons/favicon.ico
  public/favicons/ms-icon-144x144.png
  public/favicons/ms-icon-150x150.png
  public/favicons/ms-icon-310x310.png
  public/favicons/ms-icon-70x70.png
  public/favicons/nextjs-144x144.svg
  public/favicons/nextjs-16x16.svg
  public/favicons/nextjs-192x192.svg
  public/favicons/nextjs-32x32.svg
  public/favicons/nextjs-48x48.svg
  public/favicons/nextjs-512x512.svg
  public/favicons/nextjs-apple-touch.svg
  public/favicons/nextjs-favicon.svg
Due: npm run lint:js

fix: correct lint:full:fix script to include proper file fix command
  package.json
Due: none

refactor(lint): clean up formatting and improve readability
  app/layout.tsx
Due: npm run lint:js

feat: update dependabot configuration and restore CONTRIBUTING and SECURITY documents
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/dependabot.yml
Due: npm run lint:files

fix: reorganize issue templates and GitHub workflows
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yaml
  .github/workflows/build-frontend.yaml
  .github/workflows/prepare-code-lint.yaml
Due: npm run lint:files

fix: reorganize configuration files for linting and deployment
  package.json
  postcss.config.ts
  prettier.config.ts
  stylelint.config.ts
  ‎eslint.config.ts
Due: npm run lint:js

refactor: remove ExampleTest component as it is no longer needed
  components/ExampleTest.tsx
Due: npm run lint:js

feat: add patch update types for various dependency groups in dependabot configuration
  .github/dependabot.yaml
Due: npm run lint:files

refactor(lint) standardize quotes and formatting in configuration files
  .github/dependabot.yaml
  postcss.config.ts
  prettier.config.ts
  stylelint.config.ts
  ‎eslint.config.ts
Due: npm run lint:js, npm run lint:files

feat: add module type to package.json for ES module support
  package.json
Due: none

fix: update rename wrong ESLint filename config
  eslint.config.ts
Due: npm run lint:js

refactor: remove redundant XML file extensions from lint scripts
  package.json
Due: none

build(deps): install jiti package for better TypeScript support
  package-lock.json
  package.json
Due: none

chore(vscode): add tasks.json and refine settings for vite project development
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

chore(deps): manually update package.json and package-lock.json to latest versions
  package-lock.json
  package.json
Due: none

chore(workflows): improve linting workflow and replace old prepare-code-lint
  .github/workflows/build-frontend.yaml
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/prepare-code-lint.yaml
Due: npm run lint:files

refactor(components): reorganize and rename components to follow consistent naming conventions
  app/api/hello-world/route.ts
  app/global-error.tsx
  app/global-not-found.tsx
  app/layout.tsx
  app/not-found.tsx
  components/footer.tsx
  components/header.tsx
  components/navigation.tsx
  types/Layouts.d.ts
  types/index.d.ts
Due: npm run lint:js

chore(config): integrate shared prettier, eslint, and typescript configs and migrate local configs to .mjs
  .gitignore
  .prettierignore
  eslint.config.mjs
  eslint.config.ts
  next.config.mjs
  next.config.ts
  postcss.config.mjs
  postcss.config.ts
  prettier.config.mjs
  prettier.config.ts
  stylelint.config.mjs
  tsconfig.json
Due: npm run lint:js

chore(nvm): add .nvmrc file to specify Node.js version
  .nvmrc
Due: none

docs(readme): improve Node.js installation instructions
  README.md
Due: none

chore(deps): remove groups to update all dependencies individually
  .github/dependabot.yaml
Due: npm run lint:files

fix(typescript): update Next.js type reference path for routes
  next-env.d.ts
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: *.{js,ts,jsx,tsx}
  npm run lint:css: any of: *.{css,scss}
  npm run lint:files: any of: *.{html,graphql,yml,yaml}
